html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
:root {
    --black: #2C2D35;
    --light-green: #D4E8D9;
    --green: #598D66;
    --dark-green: #376B44;
    --grey: #86928B;
}
body {
    margin: 0;
    font-family: 'Raleway';
    color: #2C2D35;
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    /* max-width: 100%; сжатие картинки под изменения расширения */
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-weight: 500;
}
header, footer, .catalog__cart {
    background-color: #E1EDE6;
} 
.text-h1 {
    font-size: 60px;
    line-height: 110%;
    letter-spacing: 0px;
}
.text-h2 {
    font-size: 40px;
}
.text-h3 {
    font-size: 30px;
}
.text-h4 {
    font-size: 20px;
}
.text-p {
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0px;
}
.text-green {
    color: var(--green);
}
.container {
    width: 77vw;
    margin: 0 auto;
}
.header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.logo-name {
    display: flex;
    height: 35px;
    align-items: center;
    gap: 8px;
    font-weight: 700;
}
.nav-flex {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}
.about__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__info__flex {
    width: 37.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.about__info__flex>.primary_btn {
    margin-top: 40px;
}
.primary_btn {
    text-align: center;
    padding: 20px 60px;
    border: 1px solid var(--green);
}
.catalog {
    margin-top: 70px;
}
.catalog__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 28px;
}
.block__tab-btn {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}
.tab_btn {
    background-color: var(--light-green);
    border-radius: 20px;
    padding: 10px 20px;
}
.catalog__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.catalog__cart {
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
}
.cart__img {
    margin-bottom: 15px;
}
.cart__author-name {
    color:var(--grey);
    margin-bottom: 8px;
}
.cart__painting-name {
    margin-bottom: 5px;
}
.cart__paints {
    margin-bottom: 27px;
}
.cart__price {
    margin-bottom: 18px;
    font-size: 24px;
}
.catalog_btn {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--green);
    background-color: #E1EDE6;
}
.news {
    background: url(../img/news_background.jpg), lightgray -19px -343.452px / 102.639% 329.486% no-repeat; /* непонятное!! видимо отдельно настраивается оттенок картинки */
    margin-top: 70px;
    height: 574px;
    color: white;
    padding: 69px 0 70px 0;
}
.news__flex {
    display: flex;
    flex-direction: column;
}
.news___title {
    display: flex;
    margin-bottom: 20px;
}
.news___title>img {
    width: 80px;
    height: 80px;
}
.news__title-text {
    max-width: 421px;
    margin-left: 20px;
    line-height: 100%
}
.news__content {
    max-width: 540px;
    margin-bottom: 60px;
}
.news__btn {
    background-color: #EEDB6D;;
    padding: 20px 59px;
    color: var(--black);
    font-size: 20px;
    align-self: start;
}
.team {
    margin-top: 69px;
}
.team__flex {
    display: flex;

}
.team__img {
    position: relative;
    width: 600px;
}
.team__about {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    gap: 20px;
}
.team__title {
    margin-top: 80px;
}
.team__text {
    width: 635px;
}
.team__contacts {
    display: flex;
    gap: 30px;
}
.footer {
    display: flex;
    margin-top: 70px;
    margin-bottom: 23px;
    padding-top: 23px;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
}
.footer__phone {
    margin-top: 35px;
}
.footer__addressee {
    margin-top: 8px;
    color: var(--grey);
}
.footer__links {
    margin-left: 125px;
    display: flex;
    gap: 60px;
}
.footer__links-locumn {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.footer__links-locumn>p {
    color: var(--grey);
}
.footer__social-info {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.footer__social {
    display: flex;
    gap: 30px;
}
.footer__info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 12px;
    color: var(--grey);
}